{% extends 'template.html.twig' %}

{% block title %}
Bienvenue
{% endblock %}

{% block PageTitle %}
{# Bonjour {{ responsable.prenom }} #}
Hello !
{% endblock %}

{% block body %}

            <!-- Avatar -->
<div class="text-center">
    <img src="{{ asset('img/logo.jpg') }}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px;">
</div>
<!-- Nom et Prénom -->
<div class="text-center mt-3">
    <h5><strong>{{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</strong></h5>
</div>
<!-- Email -->
<div class="text-center mt-1">
    <p style="margin: 0">{{ app.user.email }}</p>
</div>

<!-- Numéro de Tel -->
<div class="text-center mb-1">
    <p>Téléphone : {{ app.user.numDeTelephone }}</p>
</div>

<!-- Rôle -->
<div class="text-center mt-3">
{% if app.user.roles[0] == 'ROLE_ADMIN'%}
    <p style="margin: 0"><strong>Rôle : Administrateur</strong></p>
    {% else %}
    <p style="margin: 0"><strong>Rôle : Résponsable</strong></p>
    {% endif %}
</div>

<!-- État du compte -->
<div class="text-center mt-1">
    <p style="margin-bottom: 1rem; margin-top: 0"><strong>État du compte :</strong> {{ app.user.isValidated ? 'Actif' : 'En cours de validation' }}</p>
</div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-borderless rounded">
          <thead>
            <tr>
              <th class="text-center">Secteur:</th>
              <th class="text-center"></th>
              <th class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="">Ajouter</button></th>
            </tr>
          </thead>
            <tr class="bckgndclr">
              <td class="text-center">Dev Web & mobile</td>
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm">Editer</button></td>
              <td class="text-center"><button type="button" class="btn btn-outline-info btn-sm">Supprimer</button></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group" aria-label="Actions">
                    <!-- Bouton "Mot de passe oublié" en bleu -->
                     <!-- Bouton Mot de passe oublié visible à partir de la taille d'écran md (768px) -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-none d-md-block">Mot de passe oublié</button>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-md-none"><i class="fa-solid fa-key"></i></button>

                    <!-- Bouton "Modifier mes informations" en bleu -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-none d-md-block" data-toggle="modal" data-target="#modifierModal">Modifier mes informations</button>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-md-none"><i class="fa-solid fa-pencil"></i></button>
                     <!-- <i class="fa-solid fa-pencil"></i> -->
                    <!-- Bouton "Archiver mon compte" en orange -->
                    <button type="button" class="btn btn-outline-info mx-2 rounded-2 d-none d-md-block">Archiver mon compte</button>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->
                    <button type="button" class="btn btn-outline-info mx-2 rounded-2 d-md-none"><i class="fa-solid fa-folder-open"></i></button>
                    <!-- <i class="fa-solid fa-folder-open"></i> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modifierModal" tabindex="-1" role="dialog" aria-labelledby="modifierModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header bckgndclr">
        <h5 class="modal-title" id="modifierModalLabel">Modifier les données</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body bckgndclr">
    <!-- Formulaire pour modifier les données -->
    <form id="modifierForm" action="" method="post">
        <div class="form-group">
            <label for="nouvelleDateDebut"> Nouveau nom :</label>
            <input type="text" class="form-control" name="nom" id="nouvelleDateDebut" placeholder="Entrez votre nom">
        </div>
        <div class="form-group">
            <label for="nouvelleDateFin"> Nouveau prénom :</label>
            <input type="text" class="form-control" name="prenom" id="nouvelleDateFin" placeholder="Entrez votre prénom">
        </div>
        <div class="form-group">
            <label for="nouvelleDateReunion"> Adresse email : </label>
            <input type="text" class="form-control" name="email" id="nouvelleDateReunion" placeholder="Entrez la nouvelle adresse">
        </div>
        <div class="form-group">
            <label for="nouveauResponsable"> Téléphone :</label>
            <input type="text" class="form-control" name="numdetelephone" id="nouveauResponsable" placeholder="Entrez le nouveau numéro">
        </div>
        {# <div class="form-group">
            <label for="nouveauSecteur"> Secteur de l'équipe :</label>
            <input type="text" class="form-control" id="nouveauSecteur" placeholder="Entrez le nouveau secteur">
        </div> #}
        <!-- Conteneur des boutons aligné à droite -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-outline-info ml-2" data-dismiss="modal">Annuler</button>
        </div>
    </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}