{% extends 'template.html.twig' %}

{% block title %}
Bienvenue
{% endblock %}

{% block PageTitle %}
{# Bonjour {{ responsable.prenom }} #}
Bonjour
{% endblock %}

{% block body %}
    

    <!-- Avatar -->
    <div class="text-center">
        <img src="{{ asset('img/logo.jpg') }}" alt="Avatar" class="img-fluid rounded-circle" style="width: 150px;">
    </div>
    <!-- Nom et Prenom -->
    <div class="text-center mt-3">
        <h5><strong>{{ responsables.nom|capitalize }} {{ responsables.prenom|capitalize }}</strong></h5> 
    </div>
    <!-- Email -->
    <div class="text-center mt-1">
        <p style="margin: 0">{{ responsables.email }}</p> 
    </div>
    <!-- Numero de Tel -->
    <div class="text-center mb-1">
        <p>Téléphone : {{ responsables.numDeTelephone }}</p> 
    </div>
    <!-- Rôle -->
<div class="text-center mt-3">
    {% if responsables.responsabilite == 'ROLE_ADMIN' %}
        <p style="margin: 0"><strong>Rôle : Administrateur</strong></p>
    {% else %}
        <p style="margin: 0"><strong>Rôle : Responsable</strong></p>
    {% endif %}
</div>
    <!-- Etat du compte -->
    <div class="text-center mt-1">
      {% if responsables.isValidated == 1 %}
        <p style="margin-bottom: 1rem; margin-top: 0"><strong>Etât du compte : Validé</strong></p>
          {% else %}
        <p style="margin-bottom: 1rem; margin-top: 0"><strong>Etât du compte : En cours de validation</strong></p>
        {% endif %}
    </div> 


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-borderless rounded">
          <thead>
            <tr>
              <th class="text-center">Secteur:</th>
              <th class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="">Ajouter</button></th>
            </tr>
          </thead>
            <tr class="bckgndclr">
              <td class="text-center">entrepreneur</td>
              <td class="text-center"><button type="button" class="btn btn-outline-info btn-sm">Supprimer</button></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group" aria-label="Actions">
                    <!-- Bouton "Mot de passe oublié" en bleu -->
                     <!-- Bouton Mot de passe oublié visible à partir de la taille d'écran md (768px) -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-none d-md-block">Mot de passe oublié</button>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->
                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-md-none"><i class="fa-solid fa-key"></i></button>

                    <!-- Bouton "Modifier mes informations" en bleu -->
                    <a role="button" class="btn btn-primary mx-2 rounded-2 d-none d-md-block" href="#">Modifier les informations</a>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->

                    <button type="button" class="btn btn-primary mx-2 rounded-2 d-md-none"><i class="fa-solid fa-pencil"></i></button>
                     <!-- <i class="fa-solid fa-pencil"></i> -->
                    
                    <!-- Bouton "Archiver mon compte" en orange -->
                    <button type="button" class="btn btn-outline-info mx-2 rounded-2 d-none d-md-block">Archiver le compte</button>
                    <!-- Bouton avec icône de clé visible à une taille d'écran inférieure à md (520px) -->
                    <button type="button" class="btn btn-outline-info mx-2 rounded-2 d-md-none"><i class="fa-solid fa-folder-open"></i></button>
                    <!-- <i class="fa-solid fa-folder-open"></i> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}